#midContainerID {
    position: relative;
    top: 100px;
    width: auto;
    height: 500px;
}

#midContainerID_mid {
    height: 400px;
    position: relative;
    margin: 50px 40px;
}

#leftID {
    display: inline-block;
    width: 30%;
    height: auto;
    position: relative;
    margin-top: 5%  ;
    margin-left: 20%;
    float: left;

}


.txtContentWeb {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
}

.txtContentText {
    font-size: 20px;
}
#rightID {
    display: inline-block;
    width: 30%;
    height: 400px;
    position: relative;
    margin-top: 0px;
    float: right;
    margin-right: 15%;
}

#logID_login {
    background-color: white;
    box-shadow: 1px 1px 10px 10px #888888 ;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    padding: 10px;
}

input {
    border: solid 1px ;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
    display: block;
}

#buttonLoginID {
    border: unset;
    background-color: blue;
    color: aliceblue;
}

#buttonSignupID {
    border: unset;
    background-color: limegreen;
    color: aliceblue;
}
#textLoginID {
    margin: 20px;
}


